
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 24px;
  }
  #head-video {
    width: 450px;
    height: auto;
    display: block;
  }
